
h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

p{
    text-indent: 4em;
    margin-bottom: 1em;
    line-height: 145%;
    text-align: left;
}
p:first-of-type{
    text-indent: 0;
}

#first-paragraph{
    border: solid rgb(23, 23, 22) 3px;
    padding: 2%;
    margin-bottom: 1em;
    background-color:rgb(245, 231, 213)
}

#second-paragraph{
    border: solid rgb(116, 43, 6) 3px;
    padding: 2%;
    margin-bottom: 1em;
    background-color:rgb(245, 231, 213)
}

#third-paragraph{
    border: solid rgb(206, 89, 31) 3px;
    padding: 2%;
    margin-bottom: 1em;
    background-color:rgb(245, 231, 213)
}